@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, input, button {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: rgb(125, 230, 219);
}

form {
    background-color: #e4e4e4;
    width: max-content;
    margin: auto;
    margin-top: 200px;
    padding: 3.2rem;
    border-radius: 0.4rem;
    box-shadow: black 2px 2px 6px;
}

form .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.2rem;
}

form .input label {
    font-size: 2.4rem;
    font-weight: bold;
}

form .input input {
    padding: 0.8rem;
    border-radius: 0.4rem;
    font-size: 2.2rem;
}

form #botoes {
    display: flex;
    flex-direction: row;
}

form div button {
    width: 50%;
    border: 0;
    font-size: 1.8rem;
    padding: 0.7rem;
    margin: 5px;
    border-radius: 0.4rem;
    font-weight: bold;
    background-color: #098edb;
    color: white;
    cursor: pointer;
}


form div button:hover {
    filter: brightness(0.95);
}

#fundo-modal {
    visibility: hidden;
    position: absolute;
    top: 0;
    background-color: #333;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

#resultado, #historico {
    visibility: hidden; 
    width: 70%;
    position: absolute;
    top: 10%;
    left: 15%;
    background-color: #fff;
    padding: 2.4rem;
    border-radius: 0.4rem;
}

#resultado #acoes,
#historico #acoes {
    width: 80%;
    margin: auto;
    margin-top: 3.2rem;
    display: flex;
    justify-content: space-around;
}

#resultado #acoes button,
#historico #acoes button {
    cursor: pointer;
    padding: 0.8rem 1.2rem;
    border: 0;
    border-radius: 0.4rem;
    font-size: 1.8rem;
    font-weight: bold;
    width: 45%;
}

#resultado #acoes #salvar {
    background-color: #eee01b;
    margin-bottom: 0.8rem;
}

#resultado #acoes #descartar {
    background-color: #ff0055;
    margin-bottom: 0.8rem;
}

#resultado #acoes button:hover,
#historico #acoes button:hover {
    filter: brightness(0.9);
}

#historico #acoes button {
    background-color: #eee01b;
}

#historico #acoes #excluir-registros {
    background-color: #ff0055;
}

table {
    font-size: 1.6rem;
    width: 100%;
}

th, td {
    border-bottom: 0.5px solid #e4e4e4;
    padding: 4px 16px;
    text-align: center;
}

#zero-registros {
    visibility: hidden; 
    visibility: hidden; 
    width: 70%;
    position: absolute;
    top: 10%;
    left: 15%;
    background-color: #fff;
    padding: 2.4rem;
    border-radius: 0.4rem;
}

#zero-registros p {
    font-size: 3.2rem;
    text-align: center;
}

.excluir-item {
    cursor: pointer;
    color: #ff0055;
}